@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
  font-family: "Montserrat";
  font-weight: 300;
}

footer {
  text-align: left;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #FFFDF4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fa-icon {
  color: "#48A3C0";
}

#form-file-upload {
  height: 20em;
  width: 20em;
  max-width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: transparant;
  padding: 1rem;
}

#label-file-upload .form-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#label-file-upload .buttons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

#label-file-upload .support-text {
  margin-top: auto;
  padding-top: 1rem;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
